---
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'
import SocialPill from '@components/SocialPill.astro'
import { getAllPosts, getCertifications, getFeaturedPost } from '../lib/cosmic'
import BentoGrid from '@components/BentoGrid.astro'
import {Image} from 'astro:assets'
import LinkedInIcon from '@components/icons/LinkedIn.astro'
import GitHubIcon from '@components/icons/GitHub.astro'
import SessionizeIcon from '@components/icons/Sessionize.astro'
import MailIcon from '@components/icons/Mail.astro'

const data = await getAllPosts()
const featuredPost = await getFeaturedPost()
const certifications = await getCertifications()
const tags = featuredPost.metadata.tags

export interface Post {
  title: string
  slug: string
  metadata: {
    excerpt: string
    tags: {
      title: string
      metadata: {
        color?: string
      }
    }[]
  }
}

export interface Certification {
  title:string
  slug:string
  metadata:{
    badge: {
      url: string
      imgix_url: string
    }
    expiration_date?: string
  }
}
---

<Layout title="Power Siero website">
  <section class="w-full flex flex-col space-y-3 mt-12 mb-12">
    <img
    src="https://avatars.githubusercontent.com/u/39066319?v=4"
    alt="Sergio García foto"
    class="rounded-full h-14 w-14 mb-2"
  />
    <h1 class="text-4xl font-bold">Hey, I'm <span
      class="bg-gradient-to-b from-[#4f39fa] to-[#da62c4] bg-clip-text text-transparent"
      >Sergio García</span></h1>
    <h2 class="text-xl text-pretty">
      I'm a <span class="font-bold">Microsoft Power Platform</span> developer and architect. From Pola de Siero, <span class="font-semibold text-sky-400">Asturias</span> 🇪🇸. I love sharing my knowledge with the community and learning new things. In this blog you can find tutorials and interesting posts about
      development in Power Pages, Power Apps and much more.</h2>
      <nav class="flex gap-x-4">
        <SocialPill href="https://www.linkedin.com/in/sergio-garc%C3%ADa-fonseca/">  
          <LinkedInIcon class="w-6 h-6"/>
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/SergioCantera">
          <GitHubIcon class="w-6 h-6"/>
          GitHub
        </SocialPill>
        <SocialPill href="https://sessionize.com/sergio-garcia-fonseca/">
          <SessionizeIcon class="w-6 h-6"/>
          Sessionize
        </SocialPill>
        <SocialPill href="mailto:sgfcantera@hotmail.com">
          <MailIcon class="w-6 h-6"/>
          sgfcantera@hotmail.com
        </SocialPill>
      </nav>
  </section>
  <a
    href="/cv"
    class="self-center rounded-md bg-gradient-to-l from-[#29ABE2] to-[#6CEEF6] px-8 py-3 text-xl text-white shadow-md transition hover:bg-gradient-to-b hover:from-[#4f39fa] hover:to-[#da62c4] hover:shadow-xl"
    >View CV</a
  >
  <section class="mt-12 mb-12">
    <h2 class="text-2xl font-bold mb-2">
      <span
        class="bg-gradient-to-b from-[#4f39fa] to-[#da62c4] bg-clip-text text-transparent"
        >Certifications & badges</span
      >
    </h2>
    <div class="grid grid-cols-2 max-w-4xl gap-2">
    {
      certifications.map((certification:Certification) => (
        <div class="flex flex-row items-center space-x-2 border-2 border-sky-400 px-4 py-2 rounded-full">
          <Image
              src={`${certification.metadata.badge.imgix_url}?w=1200&auto=format,compression`}
              format="svg"
              width={42}
              height={42}
              alt={`badge-${certification.slug}`}
              loading="eager"
            />
          <span class="text-base text-wrap font-semibold">{certification.title}</span>
        </div>
      ))
    }
    </div>
  </section>
  <section class="mt-12 mb-6">
    <h1 class="text-4xl font-bold mb-6">
      <span
        class="bg-gradient-to-b from-[#4f39fa] to-[#da62c4] bg-clip-text text-transparent"
        >Power Siero</span
      > Blog
    </h1>
    {data.length < 6 ? 
    <ul class="grid gap-2 md:grid-cols-6">
      {
        data.map((post: Post) => (
          <Card
            title={post.title}
            href={post.slug}
            body={post.metadata.excerpt}
            tags={post.metadata.tags.map((tag) => tag)}
          />
        ))
      }
    </ul> : 
      <BentoGrid data={data} featuredPost={featuredPost}/>
    }
  </section>
  <a
    href="/blog"
    class="self-center rounded-md bg-gradient-to-l from-[#29ABE2] to-[#6CEEF6] px-8 py-3 text-xl text-white shadow-md transition hover:bg-gradient-to-b hover:from-[#4f39fa] hover:to-[#da62c4] hover:shadow-xl"
    >More articles</a
  >
</Layout>
